@page "/"
@using alab.Services
@using alab.Components

<h1>Comments</h1>
<CommentDisplay commentNumber="@commentNumber" />
<button class="NextButton" @onclick="Next">Next comment</button>


@code {
    private int commentNumber = 1;

    private void Next() {
        commentNumber++;
    }
}
